@charset "utf-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(103, 103, 146);
    width: 100vw;
    height: 100vh;
}
main{
    position: relative;
    width: 100vw;
    height: 100vh;
}
#login{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    background-color:white;
    width: 250px;
    height: 500px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
}
#login >#imagem{
    display: block;
  background:black url(../imagens/imagem-principal.jpg) ;
  background-size: cover;
  height: 250px;
}
#login > #formulario{
    display: block;
    padding: 10px;
}